Slow sftp put/get in Windows

I've found paramiko's **SFTPClient** _put_ and _get_ methods to be significantly slower on Windows than I expect, e.g. 3-10 times slower than _scp_ depending on the file sizes and the particular machines involved.  The client machine shows extremely high CPU utilisation for the duration of the transfer indicating it is busy doing something, not blocked on IO.
This is only a problem with Windows clients.  Transfers involving Linux clients are significantly faster - in the same ballpark as _scp_.

After doing a little profiling, I've found that the majority of the time is spent creating the random padding for packets in **packet.py** _Packetizer._build_packet_, i.e this line:

```
packet += rng.read(padding)
```

which is eventually calling this method in **pycrypto's nt.py**:

```
def flush(self):
    """Work around weakness in Windows RNG.

   The CryptGenRandom mechanism in some versions of Windows allows an
    attacker to learn 128 KiB of past and future output.  As a workaround,
    this function reads 128 KiB of 'random' data from Windows and discards
    it.

    For more information about the weaknesses in CryptGenRandom, see
    _Cryptanalysis of the Random Number Generator of the Windows Operating
    System_, by Leo Dorrendorf and Zvi Gutterman and Benny Pinkas
    http://eprint.iacr.org/2007/419
```

The bottom line being that a call to generate a few bytes of random pad actually reads 128KiB from the OS.
This is obviously non-optimal, particularly for large transfers involving thousands of packets.

As a workaround/optimisation I would like to suggest invoking this clause from RFC4344:

>   As an additional note, when one of the stateful-decryption counter
> mode encryption methods (Section 4) is used, then the padding
> included in an SSH packet (Section 4 of [RFC4253]) need not be (but
> can still be) random.  This eliminates the need to generate
> cryptographically secure pseudorandom bytes for each packet.

i.e. if we are using one of the ***-ctr** ciphers then the pad doesn't need to be random.
By default the first two preferred ciphers are **aes128-ctr** and **aes256-ctr**, so there is a very good chance a default transport will utilise an SDCTR mode cipher.

I've got  a patch that does that in ref: warthog618/paramiko@c7be85d0464a9c677a36f9bf35ffe240c76d5fdb.

In my testing that drops a _get_ that was taking 231 seconds  down to 54 - in the same ballpark as _scp_.
